@charset "UTF-8";
/************************************************************************************************
CROSSING PARALLELS
-
crossingparallels.nl
tjjjia.work

*************************************************************************************************/
@import url(MyFontsWebfontsKit.css);
/*
Toc:

Mono:
200
300
400 (default)
500

Sans:
200
300
400
500
*/
/* ibm-plex-mono-200 - cyrillic_latin-ext_latin */
@font-face {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 200;
	src: url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-200.eot");
	/* IE9 Compat Modes */
	src: local("IBM Plex Mono ExtraLight"), local("IBMPlexMono-ExtraLight"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-200.eot?#iefix") format("embedded-opentype"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-200.woff2") format("woff2"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-200.woff") format("woff"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-200.ttf") format("truetype"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-200.svg#IBMPlexMono") format("svg");
	/* Legacy iOS */ }

/* ibm-plex-mono-300 - cyrillic_latin-ext_latin */
@font-face {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-300.eot");
	/* IE9 Compat Modes */
	src: local("IBM Plex Mono Light"), local("IBMPlexMono-Light"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-300.woff2") format("woff2"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-300.woff") format("woff"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-300.ttf") format("truetype"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-300.svg#IBMPlexMono") format("svg");
	/* Legacy iOS */ }

/* ibm-plex-mono-regular - cyrillic_latin-ext_latin */
@font-face {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-regular.eot");
	/* IE9 Compat Modes */
	src: local("IBM Plex Mono"), local("IBMPlexMono"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-regular.woff") format("woff"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-regular.ttf") format("truetype"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-regular.svg#IBMPlexMono") format("svg");
	/* Legacy iOS */ }

/* ibm-plex-mono-500 - cyrillic_latin-ext_latin */
@font-face {
	font-family: 'IBM Plex Mono';
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-500.eot");
	/* IE9 Compat Modes */
	src: local("IBM Plex Mono Medium"), local("IBMPlexMono-Medium"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-500.woff2") format("woff2"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-500.woff") format("woff"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-500.ttf") format("truetype"), url("../fonts/ibm-plex-mono-v2-cyrillic_latin-ext_latin-500.svg#IBMPlexMono") format("svg");
	/* Legacy iOS */ }

/* ibm-plex-sans-200 - cyrillic_latin-ext_latin */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 200;
	src: url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-200.eot");
	/* IE9 Compat Modes */
	src: local("IBM Plex Sans ExtraLight"), local("IBMPlexSans-ExtraLight"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-200.eot?#iefix") format("embedded-opentype"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-200.woff2") format("woff2"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-200.woff") format("woff"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-200.ttf") format("truetype"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-200.svg#IBMPlexSans") format("svg");
	/* Legacy iOS */ }

/* ibm-plex-sans-300 - cyrillic_latin-ext_latin */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-300.eot");
	/* IE9 Compat Modes */
	src: local("IBM Plex Sans Light"), local("IBMPlexSans-Light"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-300.woff2") format("woff2"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-300.woff") format("woff"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-300.ttf") format("truetype"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-300.svg#IBMPlexSans") format("svg");
	/* Legacy iOS */ }

/* ibm-plex-sans-regular - cyrillic_latin-ext_latin */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-regular.eot");
	/* IE9 Compat Modes */
	src: local("IBM Plex Sans"), local("IBMPlexSans"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-regular.woff2") format("woff2"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-regular.woff") format("woff"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-regular.ttf") format("truetype"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-regular.svg#IBMPlexSans") format("svg");
	/* Legacy iOS */ }

/* ibm-plex-sans-500 - cyrillic_latin-ext_latin */
@font-face {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-500.eot");
	/* IE9 Compat Modes */
	src: local("IBM Plex Sans Medium"), local("IBMPlexSans-Medium"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-500.woff2") format("woff2"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-500.woff") format("woff"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-500.ttf") format("truetype"), url("../fonts/ibm-plex-sans-v2-cyrillic_latin-ext_latin-500.svg#IBMPlexSans") format("svg");
	/* Legacy iOS */ }

/*
←
↑
↓
→
↖
↗
↙
↘
↰
↲
⬑
⬏
⬐
⬎
↱
↳
⇆
⇄
↔
↕
↶
↷
↩
↪
↺
↻



*/
/* =================================
resets
--------------------------------- */
/* line 4, src/scss/_resets.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video,
button {
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

/* line 24, src/scss/_resets.scss */
a, a:link, a:visited, a:hover, a:active {
	color: #fff;
	text-decoration: none; }

/* =================================
typography ?? rename to mixins??
--------------------------------- */
/*

h1 {
	@include headline(15);
}
h2 {
	@include headline(12);
}


WAYS OF DEALING WITH LIST ITEMS ---------------------------------

article li {
	margin-left: 0rem;
	text-indent: -3.6rem;
	padding-left: 3.6rem;
}
article ul li::before {
	// content: '>\00a0'
	// content: '+\00a0'
	content: '–\00a0\00a0'
}
article ol {
	counter-reset: i;
}
article ol li::before {
	// content: '>\00a0'
	// content: '+\00a0'
	content: counter(i)'\00a0\00a0';
	counter-increment: i;
}

*/
/* line 1, src/scss/_header.scss */
body > header {
	position: fixed;
	z-index: 50; }
	/* line 17, src/scss/_header.scss */
	body > header svg {
		display: none !important;
		display: inline-block;
		height: 5.2rem;
		margin-right: 3rem;
		margin-top: 1rem; }
	/* line 27, src/scss/_header.scss */
	body > header nav button {
		position: fixed;
		top: 3.4rem;
		right: 2rem;
		outline: none;
		cursor: pointer;
		color: #fff;
		background: none;
		display: block; }
		/* line 39, src/scss/_header.scss */
		body > header nav button.hamburger {
			font-family: "IBM Plex Sans", sans-serif;
			font-weight: 200;
			font-size: 4rem;
			line-height: 4.5rem;
			letter-spacing: .1rem; }
		/* line 42, src/scss/_header.scss */
		body > header nav button.cross {
			font-family: "IBM Plex Sans", sans-serif;
			font-weight: -200;
			font-size: 6rem;
			line-height: 4.5rem;
			letter-spacing: .1rem; }
		/* line 45, src/scss/_header.scss */
		body > header nav button.hidden {
			display: none; }
	/* line 53, src/scss/_header.scss */
	body > header nav ul {
		position: fixed;
		top: 1rem;
		left: 2rem;
		display: block;
		padding-left: 2rem; }
		/* line 63, src/scss/_header.scss */
		body > header nav ul li {
			font-family: "IBM Plex Sans", sans-serif;
			font-weight: 200;
			font-size: 4rem;
			line-height: 9rem;
			letter-spacing: .1rem;
			white-space: nowrap; }
			/* line 67, src/scss/_header.scss */
			body > header nav ul li a {
				border-radius: 1.5rem;
				margin: -1.875rem;
				padding: 0.375rem 1.5rem;
				background-color: rgba(0, 0, 255, 0.6); }
			/* line 71, src/scss/_header.scss */
			body > header nav ul li.is-active a {
				background-color: rgba(187, 187, 187, 0.9); }
		/* line 76, src/scss/_header.scss */
		body > header nav ul.hidden {
			display: none; }

/* line 85, src/scss/_header.scss */
.main.hidden {
	visibility: hidden; }

@media only screen and (min-width: 936px) {
	/* line 93, src/scss/_header.scss */
	.main {
		margin-top: 12rem; }
		/* line 96, src/scss/_header.scss */
		.main.hidden {
			visibility: visible; }
	/* line 101, src/scss/_header.scss */
	body > header {
		position: fixed;
		display: block;
		top: 0;
		width: 100%;
		padding: 3rem 2rem;
		background-color: transparent;
		box-shadow: none; }
		/* line 126, src/scss/_header.scss */
		body > header nav button {
			display: none; }
		/* line 130, src/scss/_header.scss */
		body > header nav ul {
			top: 6rem;
			left: inherit;
			right: 2rem;
			padding-right: 2rem; }
			/* line 131, src/scss/_header.scss */
			body > header nav ul.hidden {
				display: block; }
			/* line 139, src/scss/_header.scss */
			body > header nav ul li {
				display: inline-block;
				margin-left: 4.5rem;
				font-family: "IBM Plex Mono", monospace;
				font-weight: 400;
				letter-spacing: 0rem;
				font-size: 2rem;
				line-height: 3rem;
				-moz-hyphens: auto;
				-webkit-hyphens: auto;
				-ms-hyphens: auto;
				hyphens: auto; }
				/* line 140, src/scss/_header.scss */
				body > header nav ul li a {
					display: block; } }

/***********************************
*	layout
***********************************/
/* line 4, src/scss/_main.scss */
.main {
	position: relative;
	z-index: 30;
	padding: 3rem 0;
	max-width: 140rem;
	font-size: 0px; }
	/* line 11, src/scss/_main.scss */
	.main.current-affairs, .main.about {
		margin-top: 70vh; }
	/* line 16, src/scss/_main.scss */
	.main article {
		padding: 0 1rem; }

/* line 22, src/scss/_main.scss */
.article-header {
	position: relative;
	display: block; }
	/* line 26, src/scss/_main.scss */
	.article-header .cover--infobox {
		padding: 0.75rem 1rem; }
		/* line 28, src/scss/_main.scss */
		.article-header .cover--infobox p {
			font-family: "IBM Plex Mono", monospace;
			font-weight: 500;
			letter-spacing: 0.05rem;
			font-size: 1.5rem;
			line-height: 3rem;
			-moz-hyphens: none;
			-webkit-hyphens: none;
			-ms-hyphens: none;
			hyphens: none; }
			/* line 29, src/scss/_main.scss */
			.article-header .cover--infobox p::before {
				content: '+\00a0\00a0'; }
	/* line 35, src/scss/_main.scss */
	.article-header .cover--image {
		background-size: cover;
		height: 75rem;
		width: 100%; }
	/* line 41, src/scss/_main.scss */
	.article-header .cover--title h1 {
		position: absolute;
		bottom: 0;
		font-family: "PermanentHeaURWD-Reg", sans-serif;
		font-size: 9rem;
		font-weight: normal;
		line-height: 7.2rem;
		padding-bottom: 2.7rem;
		letter-spacing: 0.036rem;
		text-transform: uppercase;
		-moz-hyphens: none;
		-webkit-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
		padding-right: 1rem;
		padding-left: 1rem; }

/* line 58, src/scss/_main.scss */
.intro > p {
	padding: 0.5rem 1rem; }

/* line 64, src/scss/_main.scss */
.text > h1, .text h2, .text p, .text ul, .text ol, .text figure, .text img {
	display: block;
	max-width: 100%; }

/* line 69, src/scss/_main.scss */
.text > h1, .text h2, .text p, .text ul, .text ol {
	text-align: left; }

/* line 72, src/scss/_main.scss */
.text > h1, .text h2, .text p, .text ul, .text ol {
	padding: 1.5rem 1rem; }

/* line 90, src/scss/_main.scss */
.text > figure {
	margin: 2.25rem 0; }
	/* line 93, src/scss/_main.scss */
	.text > figure.figure--inline {
		display: block;
		margin-bottom: 1.5rem;
		padding: 0 1rem; }
		/* line 100, src/scss/_main.scss */
		.text > figure.figure--inline img {
			display: inline;
			max-width: 18rem;
			max-height: 15rem; }
		/* line 106, src/scss/_main.scss */
		.text > figure.figure--inline a {
			background: none;
			border: none;
			text-decoration: none; }

/* line 113, src/scss/_main.scss */
.text > p:last-of-type {
	margin-bottom: 4.5rem; }

@media only screen and (min-width: 720px) {
	/* line 119, src/scss/_main.scss */
	.main {
		padding: 3rem 2rem; }
	/* line 123, src/scss/_main.scss */
	.text {
		text-align: right; }
		/* line 130, src/scss/_main.scss */
		.text figure, .text figcaption {
			text-align: left;
			padding: 1.5rem 0; }
			/* line 134, src/scss/_main.scss */
			.text figure.figure--inline, .text figcaption.figure--inline {
				margin-left: 33%; }
		/* line 138, src/scss/_main.scss */
		.text > h2 {
			float: left;
			width: 33.33333%; }
		/* line 142, src/scss/_main.scss */
		.text > p, .text ul, .text ol {
			display: inline-block;
			width: 66.66667%;
			margin-left: 33.33333%;
			padding-left: 1.66667rem; }
		/* line 148, src/scss/_main.scss */
		.text > h2 + p,
		.text > h2 + ul,
		.text > h2 + ol,
		.text > h2 + figure {
			margin-left: 0; }
		/* line 160, src/scss/_main.scss */
		.text > p + p::before,
		.text > ul + p::before,
		.text > ol + p::before {
			content: none; }
		/* line 165, src/scss/_main.scss */
		.text > p:last-of-type {
			margin-bottom: 0; } }

/***********************************
*	styling
***********************************/
/* line 175, src/scss/_main.scss */
.intro > p {
	border-top: 0.45rem solid #fff;
	border-bottom: 0.45rem solid #fff; }

/* line 181, src/scss/_main.scss */
.intro > h1, .text > h1 {
	border-top: 0.45rem solid #fff;
	border-bottom: 0.45rem solid #fff;
	padding-top: 1.05rem;
	padding-bottom: 1.05rem; }

/* line 193, src/scss/_main.scss */
.intro > h1 + h2, .text > h1 + h2 {
	border-top: none; }

/* line 204, src/scss/_main.scss */
.intro:last-of-type, .text:last-of-type {
	padding-bottom: 1.5rem;
	border-bottom: 0.45rem solid #fff; }

@media only screen and (min-width: 720px) {
	/* line 212, src/scss/_main.scss */
	.text h2, .text p {
		border-top: none;
		border-bottom: none; } }

/***********************************
*	typography
***********************************/
/* line 223, src/scss/_main.scss */
.intro > p {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 200;
	font-size: 4rem;
	line-height: 6rem;
	letter-spacing: .1rem;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	text-align: justify; }

/* line 230, src/scss/_main.scss */
.text h1 {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	letter-spacing: 0rem;
	font-size: 2rem;
	line-height: 3rem;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	text-transform: uppercase; }

/* line 234, src/scss/_main.scss */
.text h2 {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	letter-spacing: 0rem;
	font-size: 2rem;
	line-height: 3rem;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	text-transform: uppercase;
	margin-bottom: 0rem; }

/* line 241, src/scss/_main.scss */
.text p, .text li {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	letter-spacing: 0rem;
	font-size: 2rem;
	line-height: 3rem;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto; }

/* line 245, src/scss/_main.scss */
.text li:not(::first-line) {
	background: #f00;
	content: '+\00a0\00a0'; }

/* line 250, src/scss/_main.scss */
.text ul li::before {
	content: '–\00a0\00a0'; }

/* line 253, src/scss/_main.scss */
.text ol {
	counter-reset: i; }

/* line 256, src/scss/_main.scss */
.text ol li::before {
	content: counter(i) "  ";
	counter-increment: i; }

/* line 263, src/scss/_main.scss */
.text figcaption {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	letter-spacing: 0rem;
	font-size: 2rem;
	line-height: 3rem;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto; }
	/* line 268, src/scss/_main.scss */
	.text figcaption .credits a:link, .text figcaption .credits a:visited,
	.text figcaption .credits a:hover, .text figcaption .credits a:active {
		border-radius: 0.45rem;
		margin: -0.5625rem;
		padding: 0.1125rem 0.45rem;
		border: 0.25rem solid #fff; }

/* line 276, src/scss/_main.scss */
.text a:link, .text a:visited,
.text a:hover, .text a:active {
	border-radius: 0.75rem;
	margin: -0.9375rem;
	padding: 0.1875rem 0.75rem;
	background-color: rgba(72, 72, 255, 0.8);
	border-radius: 0.75rem;
	margin: -0.9375rem;
	padding: 0.1875rem 0.75rem;
	border: 0.25rem solid rgba(255, 255, 255, 0.8); }

@media only screen and (min-width: 720px) {
	/* line 286, src/scss/_main.scss */
	.article-header .cover--title h1 {
		font-family: "PermanentHeaURWD-Reg", sans-serif;
		font-size: 12rem;
		font-weight: normal;
		line-height: 9.6rem;
		padding-bottom: 3.6rem;
		letter-spacing: 0.048rem;
		text-transform: uppercase;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto; }
	/* line 292, src/scss/_main.scss */
	.intro > p {
		-moz-hyphens: none;
		-webkit-hyphens: none;
		-ms-hyphens: none;
		hyphens: none; }
	/* line 297, src/scss/_main.scss */
	.text p, .text li {
		-moz-hyphens: none;
		-webkit-hyphens: none;
		-ms-hyphens: none;
		hyphens: none; }
	/* line 300, src/scss/_main.scss */
	.text h2 {
		margin-top: 0; } }

/* line 3, src/scss/_list.scss */
section.list.related-publications h2 {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 200;
	font-size: 4rem;
	line-height: 6rem;
	letter-spacing: .1rem;
	text-align: justify;
	padding: 0.5rem 1rem;
	border-bottom: 0.45rem solid #fff; }

/* line 17, src/scss/_list.scss */
section.list ul li .card--main {
	padding: 0.75rem 1rem;
	border-top: 0.45rem solid #fff; }
	/* line 21, src/scss/_list.scss */
	section.list ul li .card--main p {
		font-family: "IBM Plex Mono", monospace;
		font-weight: 400;
		letter-spacing: 0rem;
		font-size: 2rem;
		line-height: 3rem;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto; }

/* line 25, src/scss/_list.scss */
section.list ul li .card--infobox {
	padding: 0.75rem 1rem; }
	/* line 30, src/scss/_list.scss */
	section.list ul li .card--infobox:last-of-type {
		border-bottom: 0.45rem solid #fff; }
	/* line 34, src/scss/_list.scss */
	section.list ul li .card--infobox p {
		font-family: "IBM Plex Mono", monospace;
		font-weight: 500;
		letter-spacing: 0.05rem;
		font-size: 1.5rem;
		line-height: 3rem;
		-moz-hyphens: none;
		-webkit-hyphens: none;
		-ms-hyphens: none;
		hyphens: none; }
	/* line 37, src/scss/_list.scss */
	section.list ul li .card--infobox a:link, section.list ul li .card--infobox a:visited, section.list ul li .card--infobox a:hover, section.list ul li .card--infobox a:active {
		border-radius: 0.75rem;
		margin: -0.9375rem;
		padding: 0.1875rem 0.75rem;
		background-color: rgba(0, 0, 255, 0.6); }

/* line 43, src/scss/_list.scss */
section.list ul li.article {
	position: relative;
	margin-top: 15rem;
	margin-bottom: 15rem;
	padding-left: 1rem;
	padding-right: 1rem; }
	/* line 44, src/scss/_list.scss */
	section.list ul li.article:first-of-type {
		margin-top: 3rem; }
	/* line 58, src/scss/_list.scss */
	section.list ul li.article .card--infobox p::before {
		content: '+\00a0\00a0'; }
	/* line 62, src/scss/_list.scss */
	section.list ul li.article .card--title {
		position: relative; }
		/* line 65, src/scss/_list.scss */
		section.list ul li.article .card--title a {
			display: block;
			min-height: 60rem;
			width: 100%;
			height: 100%; }
		/* line 72, src/scss/_list.scss */
		section.list ul li.article .card--title h3 {
			position: absolute;
			bottom: 0;
			z-index: 5;
			font-family: "PermanentHeaURWD-Reg", sans-serif;
			font-size: 9rem;
			font-weight: normal;
			line-height: 7.2rem;
			padding-bottom: 2.7rem;
			letter-spacing: 0.036rem;
			text-transform: uppercase;
			-moz-hyphens: none;
			-webkit-hyphens: none;
			-ms-hyphens: none;
			hyphens: none;
			padding-right: 1rem;
			padding-left: 1rem; }
		/* line 81, src/scss/_list.scss */
		section.list ul li.article .card--title .card--image {
			position: absolute;
			z-index: 0;
			top: 0;
			display: block;
			width: 100%;
			height: 100%;
			background-size: cover; }

/* line 93, src/scss/_list.scss */
section.list ul li.metascraper {
	max-width: 92.4rem;
	margin-top: 4.5rem;
	margin-bottom: 4.5rem;
	padding-left: 1rem;
	padding-right: 1rem; }
	/* line 102, src/scss/_list.scss */
	section.list ul li.metascraper h3 {
		font-family: "PermanentHeaURWD-Reg", sans-serif;
		font-size: 7.5rem;
		font-weight: normal;
		line-height: 6rem;
		padding-bottom: 2.25rem;
		letter-spacing: 0.03rem;
		text-transform: uppercase;
		-moz-hyphens: none;
		-webkit-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
		text-transform: uppercase; }
	/* line 116, src/scss/_list.scss */
	section.list ul li.metascraper img {
		max-width: 100%;
		padding: .75rem 0; }
	/* line 125, src/scss/_list.scss */
	section.list ul li.metascraper .card--infobox p::before {
		content: '↪\00a0\00a0'; }

@media only screen and (min-width: 720px) {
	/* line 145, src/scss/_list.scss */
	section.list ul li.article {
		position: relative;
		margin-top: 15rem;
		margin-bottom: 15rem; }
		/* line 153, src/scss/_list.scss */
		section.list ul li.article .card--title h3 {
			font-family: "PermanentHeaURWD-Reg", sans-serif;
			font-size: 12rem;
			font-weight: normal;
			line-height: 9.6rem;
			padding-bottom: 3.6rem;
			letter-spacing: 0.048rem;
			text-transform: uppercase;
			-moz-hyphens: auto;
			-webkit-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto; }
	/* line 158, src/scss/_list.scss */
	section.list ul li.metascraper {
		display: inline-block;
		width: 50%;
		vertical-align: top; } }

/* line 1, src/scss/_residents.scss */
main.residents {
	padding-left: 2rem;
	padding-right: 2rem; }
	/* line 5, src/scss/_residents.scss */
	main.residents h2 {
		font-family: "IBM Plex Sans", sans-serif;
		font-weight: 200;
		font-size: 4rem;
		line-height: 6rem;
		letter-spacing: .1rem; }
	/* line 8, src/scss/_residents.scss */
	main.residents section.list {
		margin-bottom: 3rem; }
		/* line 12, src/scss/_residents.scss */
		main.residents section.list.residency ul li.resident {
			display: inline; }
			/* line 19, src/scss/_residents.scss */
			main.residents section.list.residency ul li.resident h3 {
				display: inline;
				font-family: "PermanentHeaURWD-Reg", sans-serif;
				font-size: 9rem;
				font-weight: normal;
				line-height: 7.2rem;
				padding-bottom: 2.7rem;
				letter-spacing: 0.036rem;
				text-transform: uppercase;
				-moz-hyphens: none;
				-webkit-hyphens: none;
				-ms-hyphens: none;
				hyphens: none;
				text-transform: uppercase; }
				/* line 24, src/scss/_residents.scss */
				main.residents section.list.residency ul li.resident h3::after {
					content: ',\00a0\00a0'; }
			/* line 29, src/scss/_residents.scss */
			main.residents section.list.residency ul li.resident:last-of-type h3::after {
				content: '.'; }
		/* line 38, src/scss/_residents.scss */
		main.residents section.list.matching ul li.resident {
			display: inline; }
			/* line 45, src/scss/_residents.scss */
			main.residents section.list.matching ul li.resident h3 {
				display: inline;
				font-family: "IBM Plex Sans", sans-serif;
				font-weight: 200;
				font-size: 4rem;
				line-height: 6rem;
				letter-spacing: .1rem; }
				/* line 49, src/scss/_residents.scss */
				main.residents section.list.matching ul li.resident h3::after {
					content: ',\00a0\00a0'; }
			/* line 54, src/scss/_residents.scss */
			main.residents section.list.matching ul li.resident:last-of-type h3::after {
				content: '.'; }

@media only screen and (min-width: 720px) {
	/* line 69, src/scss/_residents.scss */
	main.residents section.list.residency ul li.resident h3 {
		font-family: "PermanentHeaURWD-Reg", sans-serif;
		font-size: 12rem;
		font-weight: normal;
		line-height: 9.6rem;
		padding-bottom: 3.6rem;
		letter-spacing: 0.048rem;
		text-transform: uppercase;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto; } }

/***********************************
*	layout
- inherits from _main.scss
***********************************/
/***********************************
*	styling
***********************************/
/***********************************
*	typography
***********************************/
/* line 22, src/scss/_further-reading.scss */
.further-reading h2 {
	font-family: "IBM Plex Sans", sans-serif;
	font-weight: 200;
	font-size: 4rem;
	line-height: 6rem;
	letter-spacing: .1rem;
	text-align: justify;
	margin: 0 1rem;
	padding: 0.5rem 1rem;
	border-bottom: 0.45rem solid #fff; }

/* line 32, src/scss/_further-reading.scss */
.further-reading ul li {
	position: relative;
	display: block;
	width: 100%;
	margin-top: 3rem;
	margin-bottom: 6rem;
	padding: 0 1rem; }
	/* line 44, src/scss/_further-reading.scss */
	.further-reading ul li .card--title {
		position: relative; }
		/* line 47, src/scss/_further-reading.scss */
		.further-reading ul li .card--title a {
			display: block;
			min-height: 60rem;
			width: 100%;
			height: 100%; }
		/* line 54, src/scss/_further-reading.scss */
		.further-reading ul li .card--title h3 {
			position: absolute;
			bottom: 0;
			z-index: 5;
			font-family: "PermanentHeaURWD-Reg", sans-serif;
			font-size: 7.5rem;
			font-weight: normal;
			line-height: 6rem;
			padding-bottom: 2.25rem;
			letter-spacing: 0.03rem;
			text-transform: uppercase;
			-moz-hyphens: none;
			-webkit-hyphens: none;
			-ms-hyphens: none;
			hyphens: none;
			padding-right: 1rem;
			padding-left: 1rem; }
		/* line 63, src/scss/_further-reading.scss */
		.further-reading ul li .card--title .card--image {
			position: absolute;
			z-index: 0;
			top: 0;
			display: block;
			width: 100%;
			height: 100%;
			background-size: cover; }
	/* line 74, src/scss/_further-reading.scss */
	.further-reading ul li .card--main {
		padding: 0.75rem 1rem;
		border-top: 0.45rem solid #fff; }
		/* line 78, src/scss/_further-reading.scss */
		.further-reading ul li .card--main p {
			font-family: "IBM Plex Mono", monospace;
			font-weight: 400;
			letter-spacing: 0rem;
			font-size: 2rem;
			line-height: 3rem;
			-moz-hyphens: auto;
			-webkit-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto; }
	/* line 83, src/scss/_further-reading.scss */
	.further-reading ul li .card--infobox {
		padding: 0.75rem 1rem;
		border-top: 0.45rem solid #fff; }
		/* line 87, src/scss/_further-reading.scss */
		.further-reading ul li .card--infobox:last-of-type {
			border-bottom: 0.45rem solid #fff; }
		/* line 91, src/scss/_further-reading.scss */
		.further-reading ul li .card--infobox p {
			font-family: "IBM Plex Mono", monospace;
			font-weight: 500;
			letter-spacing: 0.05rem;
			font-size: 1.5rem;
			line-height: 3rem;
			-moz-hyphens: none;
			-webkit-hyphens: none;
			-ms-hyphens: none;
			hyphens: none; }

@media only screen and (min-width: 720px) {
	/* line 100, src/scss/_further-reading.scss */
	.further-reading ul li {
		display: inline-block;
		vertical-align: top;
		width: 33.3333%; } }

/* line 1, src/scss/_footer.scss */
body > footer {
	position: relative;
	z-index: 30;
	width: 100%;
	padding: 4rem 1rem;
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	letter-spacing: 0rem;
	font-size: 2rem;
	line-height: 3rem;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto; }
	/* line 8, src/scss/_footer.scss */
	body > footer svg.logo-todaysart {
		height: 2.2rem;
		margin-bottom: .25rem;
		vertical-align: bottom;
		/* because y descender */ }
	/* line 13, src/scss/_footer.scss */
	body > footer svg.logo-tudelft {
		height: 3.4rem;
		margin-top: -2rem; }

@media only screen and (min-width: 720px) {
	/* line 19, src/scss/_footer.scss */
	body > footer {
		position: relative;
		z-index: 30;
		width: 100%;
		padding: 4rem 3rem; } }

/* line 34, src/scss/index.scss */
html, body {
	font-size: 6.7px;
	background: #00f;
	color: #fff; }

/* line 39, src/scss/index.scss */
svg {
	fill: #fff; }
	/* line 41, src/scss/index.scss */
	svg text {
		overflow: hidden;
		fill: transparent;
		opacity: 0;
		white-space: nowrap; }

@media only screen and (min-width: 720px) {
	/* line 52, src/scss/index.scss */
	html, body {
		font-size: 8px; } }

/*
zindex:

	50
		header
	40
		--- intermediate
	30
		main.current-affairs
		footer
	20
		mobius
	10
		main (other)
	0
		body
*/
/* line 75, src/scss/index.scss */
#mobius {
	position: fixed;
	top: 0;
	z-index: 20;
	pointer-events: none; }
	/* line 81, src/scss/index.scss */
	#mobius.interaction--pointer--important {
		pointer-events: initial !important;
		cursor: pointer !important; }
	/* line 87, src/scss/index.scss */
	#mobius.interaction--screensaver {
		z-index: 40 !important;
		cursor: none !important; }

/* line 93, src/scss/index.scss */
pre {
	font-size: 1rem; }
